:root {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;

  --linear-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --red-error: hsl(0, 100%, 66%);

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

.submit-btn {
  background: var(--very-dark-violet);
  color: var(--white);
  padding-block: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 1em;
  transition: opacity 100ms linear, box-shadow 100ms linear;
  opacity: 0.9;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 8px 10px 0 var(--light-grayish-violet);
  }

  &:active {
    opacity: 1;
  }
}